* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 20px;
  padding: 0 auto;
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background: url(./assets/images/background-pattern-desktop.svg) no-repeat top fixed;

}

p {
  font-size: 16px;
}

.main-container {
  margin: 80px 70px;
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  justify-content: center;
  box-shadow: 10px 10px hsl(292, 16%, 49%);

}


.first-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-star {
  margin-right: 20px;
}

.FAQs h1 {
  font-weight: bold;
}

.what-is-fem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}


.whats-fem {
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.fem-description {
  word-spacing: 0.15px;
  font-family: "Work Sans";
  color: hsl(216, 15%, 48%);
  font-size: 20px;
  margin-bottom: 30px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.faqs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faqs-1,
.faqs-2,
.faqs-3 {
  font-weight: bold;
}

.faqs-1:hover,
.faqs-2:hover,
.faqs-3:hover {
  color: hsl(292, 16%, 49%);
  cursor: pointer;
}



/* Media Queries */



/* Media Queries */
/* Mobile: 375px */



/* Desktop: 1440px */